body {
    font: 16px/1.5 "Tahoma", "microsoft yahei", "sans serif";
}
.header-content {
    height: 50px;
    background-color: #fff;
    color: #777;
    line-height: 50px;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.header-left {
    float: left;
    line-height: 45px;
}
.header-left .span {
    font-size: 30px;
    /*display: inline;*/
    margin-right: 20px;
}
.header-left .span-special {
    color: #11806A;
}
.header-right {
    float: right;
}
.header-right .clear-fix li {
    line-height: 20px;
    /*vertical-align: middle;*/
    margin-top: 8px;
    padding: 5px 15px;
    float: left;
}
.header-right .clear-fix a {
    text-decoration: none;
    color: #777;
}
.header-right .clear-fix li:hover a {
    color: #fff;
}
.header-right .clear-fix li:hover {
    background-color: #11806A;
    color: #fff;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}
.banner {
    position: relative;
}
.banner img{
    width: 100%;
    height: 300px;
    opacity: .3;
}
.banner-text {
    color: #fdf9ff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 30%;
}