body {
    font: 14px/1.5 "Microsoft YaHei", "sans serif";
    margin: 0px;
    padding: 20px;
}
.bd {
    background: #eee;
    padding: 20px;
}
.bd {
    overflow: hidden;
}
.main,
.side,
.extra {
    padding-bottom: 5000px;
    margin-bottom: -5000px;
}
.p20 {
    padding: 20px;
}
.bg {
    background-color: #fff;
}
.main {

    float: left;
    width: 100%;
}

.container {
    margin: 0px 140px 0px 220px;
    /*margin:0 20px 0 20px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.side {
    float: left;
    width: 200px;
    margin-left: -100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.extra {
    width: 120px;
    float: left;
    margin-left: -120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}